<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.desc || 'A week of links about bootstrapping your own products' }}">

  <link rel="author" href="humans.txt" />

  <link rel="apple-touch-icon-precomposed" href="/images/favicon-152.png">
  <meta name="msapplication-TileColor" content="#0096FF">
  <meta name="msapplication-TileImage" content="/images/favicon-144.png">
  <meta name="application-name" content="Bootstrapping Weekly">

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.0.3/yeti/bootstrap.min.css">

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-3275197-66', 'auto');
  ga('send', 'pageview');

</script>

<!-- Cookie Monster -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
    $('.promo-2').hide();
    $(".opt-in-button").on("click", function () { 
      jQuery.cookie('subscriberCookie', 'subbed', { expires: 99999, path: '/' });
      // where a user subscribes from the form on your site
    });

    if (location.href.match(/utm_source=bootstrapping.io-newsletter/)){ 
      // where you use url.com/?utm_source=kaisnewsletter from within your campaigns
      jQuery.cookie('subscriberCookie', 'subbed', { expires: 99999 });
      var newSearch = location.search.replace(/utm_.*?(&|$)/g,""), newSearch = newSearch.length > 1 ? newSearch : "";
      newSearch != location.search && window.history.replaceState({},'', location.href.replace(location.search, newSearch));
    }
    
    if ($.cookie('subscriberCookie')) {
      $('.promo-1').hide();
      $('.promo-2').show();
    } else {
      $('.promo-1').show();
      $('.promo-2').hide();        
    }
</script>
<!-- End Cookie Monster --> 

<!-- Content Locker -->
<script src="/js/libs/jquery.min.js"></script>
<script src="/js/pandalocker.*.*.*.min.js"></script>
<link rel="stylesheet" href="/css/pandalocker.*.*.*.min.css" />

<script>
$(".my-content").sociallocker();
</script>
<!-- End Content Locker -->

</head>

<body style="padding-bottom:140px">

  <div class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">{{ site.name }}</a>
      </div>
      <div class="navbar-collapse promo-1">
        <p class="navbar-text navbar-right hidden-xs">Weekly, no bullshit links for bootstrappers, focussed on building and marketing your products.</p>
        <a href="/" type="button" class="btn btn-xs btn-danger navbar-btn">
          <span class="hidden-xs">Sign up now</span>
          <span class="visible-xs">Sign up now for a weekly email</span>
        </a>
      </div>
      <div class="navbar-collapse promo-2">
        <p class="navbar-text navbar-right hidden-xs">Thank you for being a subscriber! Would you share a tweet about Bootstrapping.io?</p>
        <a href="https://twitter.com/intent/tweet?text=Check%20out%20http%3A%2F%2Fbootstrapping.io%20—%20weekly%20roundup%20of%20the%20best%20articles%20for%20bootstrappers%20on%20starting%2C%20running%2C%20and%20growing%20your%20business%21&source=kaisdavis&related=kaisdavis" type="button" class="btn btn-xs btn-danger navbar-btn">
          <span class="hidden-xs">Tweet About Bootstrapping.io</span>
          <span class="visible-xs">Tweet About Bootstrapping.io</span>
        </a>
      </div>
    </nav>

{{ content }}

    <footer>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
          <p class="text-center"><small>Founded by <a href="http://andycroll.com">Andy Croll</a> (<a href="http://twitter.com/andycroll">@andycroll</a>) • Curated by <a href="http://kaidavis.com">Kai Davis</a> (<a href="http://twitter.com/kaisdavis">@kaisdavis)</a>
          </p>
      </div>
    </footer>
  </div>

<!-- Drip -->
<script type="text/javascript">
  var _dcq = _dcq || [];
  var _dcs = _dcs || {}; 
  _dcs.account = '1397772';
  
  (function() {
    var dc = document.createElement('script');
    dc.type = 'text/javascript'; dc.async = true; 
    dc.src = '//tag.getdrip.com/1397772.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(dc, s);
  })();
</script>
</body>
</html>
